div{

    background-color: 
    black;
    
    align-content: 
    center;
    
    
    
    }
    
    form{
    
    width:500px;
    
    height:800px;
    
    }
    
    
    
    label{
    
    color:white;
    
    }
    
    h2{
    
    color:white;
    align-content: center;
    
    }
    
    p{
    
    text-align: center;
    
    }
    
    button{
    
    text-align: center;
    
    margin-left: 
    60mm;
    
    background-color: 
    green;
    
    }
    title{
        color: green;
    }




